.body {
  display: flex;
  align-items: center;
  box-sizing: border-box; // padding is included in the 56px min-height
  min-height: var(--size-14); // 56px total
  padding: var(--size-3) var(--size-4); // 12 / 16
}

.back {
  flex: none;
  display: inline-flex;
  margin-right: var(--size-3); // 12px
}

.content {
  flex: 1 1 0;
  min-width: 0;
}

.close {
  flex: none;
  display: inline-flex;
  margin-left: var(--size-5); // 20px
}
